extends layout

block content
  .content
    .border
    .first
      h1  Web Development Achievements
      ul.web_dev
        li  Front-end developer(contract) : Solid Interactive.
        li  Web developer(intern) : ChickTech.
        li
          | Graduate of Portland Code School's Immersive JavaScript course(Summer 2015) .
        li
          | Completed Front-end developer track at
          a(target='_blank', href='https://teamtreehouse.com') TreeHouse
          | .
    .second
      h2  Links
      ul.links
        li
          a(target='_blank', href='http://pure-hollows-9364.herokuapp.com/') Im bored
          p
            | Final project for Portland Code School. The work was split between myself and two other students. I focused mostly on the Backbone (in it's entirety), the server side script (using Postgres and knex), and I did all of the coding associated with APIs.
        li
          a(target='_blank', href='https://github.com/rjohnson2590')  GitHub profile
          p  GitHub profile.
        li
          a(target='_blank', href='https://www.linkedin.com/pub/richard-johnson/102/27/973')  Linkedin profile
          p Linkedin profile
        li
          a(href='tree.html') TreeHouse badges
          p  All of the badges I have earned on TreeHouse.
    .third
      h2 Experince
      ul
        li
          | Company - Solid Interactive
          br
          |                     Position - Front-end Developer (Contract).
          br
          |                     Duration - December 2015 - February 2016.
        li
          | Company - ChickTech.
          br
          |                     Position - Web developer (intern).
          br
          |                     Duration - November 2015 - December 2015.
        li
          | Company - Chicago Botanic Garden.
          br
          |                     Position -Ecological restoration technican.
          br
          |                     Duration - March 2013 - December 2013.
        li
          | Company - Environmental Change Research Group (University of Oregon).
          br
          |                     Position -Research Intern.
          br
          |                     Duration - March 2012 - September 2012.
    .fourth
      h2  Education
      ul
        li
          | B.S. in Environmental Science from the University of Oregon.
    .footer
      p &copy Richard Johnson
