doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .header
      header
        .welcome(data-text='WELCOME')
          h1 WELCOME
        h1  Richard Johnson
        h2
          | email:
          a(href='mailto:rjonhson2590@gmail.com') rjonhson2590@gmail.com
        h2  Mobile: 847-707-0375
        h2.bottom-header Please Scroll Down
    block content
